<div>
  <div class="col-xs-10 col-md-10 dannyBoyBlueHdr">
    Danny Boy Jazz &amp; Blues Events Manager - Home
  </div>
  <div class="col-xs-2 col-md-2">
    <form id="logoffForm" method="GET" action="/login/logout">
      <button id="logoutBtn" type="submit" class="btn btn-primary">Log Off</button>
    </form>
  </div>
</div>
