<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<body class="container-fluid dannyBoyBlue">

    <header>
    </header>

    <main>
        <div class="row">
            <div class="col-xs-10 col-md-10">
            </div>
            <div class="col-xs-2 col-md-2">
                <%- include('../partials/headerMenu'); %>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <%- include('../partials/bannerImage'); %>
                <div class="dannyBoyBlue">
                    <h2>Danny Boy Jazz &amp; Blues Events Manager - Home</h2>
                </div>
            </div>
          </div>
        </div>
    </main>

    <footer>
    </footer>

</body>
</html>
