<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<body class="container-fluid dannyBoyBlue">

    <header>
    </header>

    <main>
        <div class="row">
          <%- include('../partials/headerMenu'); %>
        </div>
        <div class="row">
          <div id="reactRoot"></div>
          </div>
        </div>
    </main>

    <footer>
      <script src="react/react-bundle.js"></script>
    </footer>

</body>
</html>
