<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<body class="container-fluid">

    <header>
    </header>

    <main>
        <div class="row">
            <div class="col-xs-12 col-md-12">

                <%- include('../partials/bannerImage'); %>

                <div class="dannyBoyBlue loginPanel">
                    <h2>Danny Boy Jazz &amp; Blues Event Manager</h2>
                    <form>
                      <div class="form-group">
                        <label for="userIdEmail1">Username (email address)</label>
                        <input type="text" class="form-control" id="userIdEmail1" placeholder="Email">
                        <div id="loginEmailErrorMessage" class="ErrorHidden"></div>
                      </div>
                      <div class="form-group">
                        <label for="passwordField1">Password</label>
                        <input type="password" class="form-control" id="passwordField1" placeholder="Password">
                        <div id="loginPasswordErrorMessage" class="ErrorHidden"></div>
                      </div>
                      <button id="loginBtn" type="button" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <footer>
    </footer>

</body>
</html>
