<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-theme.css">
  <script src="assets/jquery/jquery.js"></script>
  <script src="assets/bootstrap/js/bootstrap.js"></script>

  <script src="javascripts/login.js"></script>

  <link rel="stylesheet" href="stylesheets/style.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="container-fluid">

    <header>
    </header>

    <main>
        <div class="row">
            <div class="col-xs-12 col-md-12">

                <div id="loginBannerImage"><IMG SRC="images/header_2017_04-1.jpg"></IMG></div>

                <div class="dannyBoyBlue loginPanel">
                    <h2>Danny Boy Event Manager</h2>
                    <form>
                      <div class="form-group">
                        <label for="userIdEmail1">Username (email address)</label>
                        <input type="text" class="form-control" id="userIdEmail1" placeholder="Email">
                        <div id="loginEmailErrorMessage" class="ErrorHidden"></div>
                      </div>
                      <div class="form-group">
                        <label for="password1">Password</label>
                        <input type="password" class="form-control" id="password1" placeholder="Password">
                      </div>
                      <button id="loginBtn" type="button" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <footer>
    </footer>

</body>
</html>
