<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<body class="container-fluid dannyBoyBlue">

    <header>
    </header>

    <main>
        <div class="row">
            <div class="col-xs-12 col-md-12">

                <%- include('../partials/bannerImage'); %>

                <div class="loginPanel">
                    <h2>Danny Boy Jazz &amp; Blues Event Manager</h2>
                    <form id="loginForm" method="GET" action="/login">
                      <button id="loginBtn" type="button" class="btn btn-primary">Enter</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <footer>
    </footer>

</body>
</html>
